.beam {
    shape-rendering: geometricPrecision;
    width: 100%;
    height: 180px;
}

.beam__ray {
    stroke-width: 2;
    fill: transparent;
}

.beam__collision-point {
    stroke: rgb(38, 121, 96);
    stroke-width: 2;
}