.beam__scene {
    shape-rendering: geometricPrecision;
    position: absolute;
    left: 0;
    width: 100%;
    height: 180px;
}

.beam__ray {
    stroke-width: 2;
    fill: transparent;
}

.beam__collision-point {
    stroke: lightgray;
    stroke-width: 1;
}