@import "../../shared/variables.scss";

.navigation__link {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 8px;
    height: 100%;
    text-decoration: none;
    color: $text-light;
    &:hover {
        // color: $text-faded;
    }

    &_active {
        @extend .navigation__link;
        text-decoration: underline;
    }
}