@import "../../shared/variables.scss";

.navigation__link {
    padding: 10px;
    text-decoration: none;
    color: $text-light;
    &:hover {
        color: $text-faded;
    }

    &_active {
        @extend .navigation__link;
        color: $text-label;

        &:hover {
            color: $text-label
        }
    }
}