@import "../../shared/variables.scss";

.navigation {
    display: flex;
    align-items: center;
    min-height: 55px;
    background-color: #181c1f;
}

.navigation__links-container {
    display: flex;
    margin: auto;
}

.navigation__language {
    float: right;
    position: absolute;
    right: 20px;
    color: white;
    cursor:pointer;
    @media screen and (max-width: 750px) {
        display: none;
    }
}

.navigation__language_active {
    color: $text-label;
}