// Wrappers
$primary-light: #36393f;
$primary-faded: #2f3136;
$primary-dark: #202225;
$tile-hover: hsla(210,3%,87%,.05);

// Typography
$text-label: #43b581;
$text-faded: hsla(0,0%,100%,0.6);
$text-primary: #fff;

// Elements
$btn: #7289da;
$btn-hover: #697ec4;