@import "../../shared/variables.scss";

.page_d {
    background-color: $primary-light;
    box-shadow: inset 0px 3px 0px 0px $primary-dark,
}

h3 {
    margin-top: 0;
}

.main {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.skills-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 20px;
    @media screen and (max-width: 1000px) {
        grid-template-columns: 1fr 1fr;
    }
    @media screen and (max-width: 650px) {
        grid-template-columns: 1fr;
    }
}

.page__light {
    display: flex;
    padding: 35px 0;
    flex-direction: column;
    flex: 1 0 auto;
    background-color: white;
    box-shadow: inset 0px -3px 0 0 $primary-dark;
    color: $text-dark;
    @media screen and (max-width: 842px) {
        max-width: initial;
        border-radius: initial;
        box-shadow: initial;
    }
}