@import "../../shared/variables.scss";

.page_d {
    background-color: $primary-light;
    box-shadow: inset 0px 3px 0px 0px $primary-dark,
}

.main {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.page__light {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    background-color: white;
    box-shadow: inset 0px -3px 0 0 $primary-dark;
    color: $text-dark;
    @media screen and (max-width: 842px) {
        max-width: initial;
        border-radius: initial;
        box-shadow: initial;
    }
}