@import "../../shared/variables.scss";

.page_d {
    background-color: $primary-light;
    box-shadow: inset 0px -1px 0px 0px $primary-dark,
    inset 0px 1px 0px 0px $primary-dark,
    inset 10px 0 0 $primary-dark,
    inset -10px 0 0 $primary-dark;
}

.main {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
}

.page__light {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    background-color: rgb(237, 245, 255);
    box-shadow: inset 10px 0 0 $primary-dark, inset -10px 0 0 $primary-dark;
    color: $text-dark;
    @media screen and (max-width: 845px) {
        max-width: initial;
        border-radius: initial;
        box-shadow: initial;
    }
}