.video__overlay {
    background-image: url(./pattern.png);
    z-index: 5;
    position: absolute;
    width: 100%;
    height: 200px;
    background-size: 3px;
    background-image: url(./pattern.png);
}

.video__overlay-background {
    display: block;
    width: 100%;
    height: 200px;
    background-color: black; 
    z-index: 1;
}
  
.video__source {
    width: 100%;
    height: 200px;
}

.video {
    position: relative;
}