@import "../../shared/variables.scss";

.footer {
    display: flex;
    flex: 0 0 auto;
    padding: 20px;
    background-color: #1d1d26;
    box-shadow: inset 0px 1px 0px 0px $primary-dark;
    min-height: 130px;
    @media screen and (max-width: 845px) {
        min-height: 100px;
        align-items: center;
    }
}

.footer__container {
    display: flex;
    @media screen and (max-width: 845px) {
        flex-wrap: wrap;
    }
}

.footer__city {
    display: flex;
    color: $text-label;
    align-items: center;
    @media screen and (max-width: 845px) {
        display: block;
        padding-bottom: 20px;
        font-size: 16px;
        width: 100%;
    }
}

.footer__social-container {
    align-items: center;
    margin-left: auto;
    @media screen and (max-width: 845px) {
        padding-bottom: 15px;
        margin: initial;
    }
}

.footer__contacts {
    color: #eee;
    font-size: 13px;
    a {
        color: dimgray;
        &:link {
            color: $text-label !important;
        }
        &:hover {
            color: $text-label;
        }
    }
}

.footer__social-image {
    height: 28px;
    opacity: 0.7;
    &:hover {
        opacity: 1;
    }
}

.footer__social-link {
    margin-right: 20px;
}